#root {
  text-align: center;
  width: 100%;
  height: 100vh;
}

.logo {
  width: 100%;
  height: 100px;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 1em #7b7fccaa);
}

/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */


