*{
  margin: 0;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  font-family: "Montserrat", sans-serif !important;
  font-optical-sizing: auto;
}

a {
  text-decoration: none !important;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #42446b;
  }
  button {
    background-color: #f9f9f9;
  }
}
