carousel-container {
    position: relative;
}
.count {
    position: absolute;
    bottom: 20px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.arrow-left {
    position: absolute;
    top: 100px;
    cursor: pointer;
    width: 34px;
}

.arrow-right {
    position: absolute;
    top: 100px;
    right: 0;
    cursor: pointer;
}

.slide {
    img {
        width: 100%;
        height: 300px;
        border-radius: 25px;
        object-fit: cover;
    }
}